@import 'reset.scss';
@import url(https://fonts.googleapis.com/css?family=Niconne);

//fade in effectx
@mixin fade-in(){
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;

	@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	@-moz-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	@-webkit-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	@-ms-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}

	@-o-keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
	}
}

html,body{
	width:100%;
	heiht:100vh;
	background:black;
	font-family:'Niconne',cursive;
	color:#777;
	font-size:16px;
}

button{
	background-color:#777;
	border:none;
	border-radius:6px;
	color:#fff;
	padding:10px 15px;
	box-shadow:3px 3px 3px #000;
	background:rgba(60,60,60,0.7);

	&:active{
		box-shadow:1px 1px 0px #000;
	}
}

 //images that needed to be preloaded
.preload{
	background:
	url('/build/image/parchment-bg.jpg') no-repeat,
	url('/build/image/travel.jpg') center no-repeat,
	url('/build/image/travel2.jpg') center no-repeat,
	url('/build/image/begin.jpg') center no-repeat,
	url('/build/image/fail.jpg') center no-repeat,
	url('/build/image/success.jpg') center no-repeat,
	url('/build/image/dragon.jpg') no-repeat;
}

.adventure-app{
	background: #333;
	height:100vh;
	width:100%;
	background:url('/build/image/start.jpg') center no-repeat;
	background-size:cover;
	display:flex;
	flex-flow:row nowrap;
	color:#fff;

	.sidebar{
	background:url('/build/image/campfire.jpg') center no-repeat;
	background-size:cover;
	flex:1 0 10%;

		h1{
			font-size:3rem;
			transform:rotate(270deg);
			white-space:nowrap;
			width:150px;
			position:relative;
			top:200px;
			right:10px;
			text-shadow:3px 3px 3px #000;
			
			letter-spacing:8px;
			animation: spacein 2s;

			@keyframes spacein {
			    from { letter-spacing: 80px; }
			    to   { letter-spacing: 8px; }
			}
		}

		i{
			font-size: 3em;
			position:relative;
			top:270px;
			left:40px;
			text-shadow:3px 3px 3px #000;
		}
	}

	.content{
	flex:1 0 89%;
	align-self:center;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	@include fade-in;
	}
}

.timer{
	flex:1 0 89%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	background-color:#000;
	border:1px solid #fff;
	border-radius: 6px;

	position:absolute;
	top:15px;
	right:0px;
	font-size:40px;
	width:100px;
	height:48px;
	@include fade-in;

	-webkit-animation: slide 0.7s forwards;
    -webkit-animation-delay: 0.4s;
    animation: slide 0.7s forwards;
    animation-delay: 0.4s;
	
	//Moves to the right
	@keyframes slide {
	 100% { transform: translateX(-80px); }
	}

	@-moz-keyframes fadein {
	    100% { transform: translateX(-80px); }
	}

    @-webkit-keyframes slide {
    	100% { transform: translateX(-80px); }
	}

	@-ms-keyframes fadein {
	    100% { transform: translateX(-80px); }
	}

	@-o-keyframes fadein {
	    100% { transform: translateX(-80px); }
	}

}

.begin-story{
	// background:url('/build/image/travel.jpg') center no-repeat;
	background-size:cover;
	flex: 1 0 89%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	@include fade-in;

	.question{
		padding:25px;
		height:300px;
		width:300px;
		border-radius:3px;
		background:
			linear-gradient( 
				rgba(0,0,0,0.3),
				rgba(0,0,0,0.3)
			),
			url('/build/image/parchment-bg.jpg') no-repeat;
		background-size:100% 100%;
		font-size:1.5em;
		@include fade-in;
	}

	input{
		font-family:'Niconne',cursive;
		background:none;
		border:none;
		border-bottom:2px solid #fff;
		text-align:center;
		width:100%;
		font-size:1.3em;
		color:#fff;
		text-transform:capitalize;
	}

	h3{
		margin-bottom:15px;
	}	
}

.question-bg{
	padding:25px 0;
	width:100%;
	display:flex;
	justify-content:center;
	box-shadow:0px 0px 8px #000;
}

#bg1{
	background:
	linear-gradient( 
				rgba(0,0,0,0.5),
				rgba(0,0,0,0.5)
			),
	url('/build/image/begin.jpg') no-repeat center;
	background-size:cover;
	@include fade-in;
}

#bg2{
	background:
	linear-gradient( 
				rgba(0,0,0,0.3),
				rgba(0,0,0,0.3)
			),
	url('/build/image/travel2.jpg') no-repeat center;
	background-size:cover;
	@include fade-in;
}

#bg3{
	background:
	linear-gradient( 
				rgba(0,0,0,0.3),
				rgba(0,0,0,0.3)
			),
	url('/build/image/travel.jpg') no-repeat center;
	background-size:cover;
	@include fade-in;
}

#bg4{
	background:
	linear-gradient( 
				rgba(0,0,0,0.3),
				rgba(0,0,0,0.3)
			),
	url('/build/image/dragon.jpg') no-repeat center;
	background-size:cover;
	@include fade-in;
}

.fail-page{

	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	width:100%;
	height:100vh;
	text-align:center;
	@include fade-in;

	background:
		linear-gradient( 
					rgba(0,0,0,0.5),
					rgba(0,0,0,0.5)
				),
		url('/build/image/fail.jpg') no-repeat;
	background-size:cover;
	
		div{
			display:flex;
			flex-flow:column nowrap;
			justify-content:center;
		}

		h1{ 
			font-size:3em;
			margin-bottom:10px;
		}

		p{font-size:1.3em;}
}

.success-page{
	
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	width:100%;
	height:100vh;
	@include fade-in;

	background:
		linear-gradient( 
					rgba(0,0,0,0.5),
					rgba(0,0,0,0.5)
				),
		url('/build/image/success.jpg') no-repeat;
	background-size:cover;

		h1{
			font-size:3em;
			align-self:center;
		}

}